:root {
  --text-color: white;
  --nav-color: #3952c9;
  --secondary-color: #b2b0ae;
  --accent-color: #233ab5;
}

.navbar {
  background-color: var(--nav-color);
  color: var(--text-color);
  height: 4.375rem;
}

.navContainer {
  max-width: 86rem;
  margin: 0 auto;
  padding: 0 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--text-color);
  white-space: nowrap;
}
