.container {
  max-width: 82rem;
  margin: 0 auto;
  overflow: none;
  padding: 0 2.5rem;
  color: black;
}

.gridDisplay{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
}

.aboutImg {
  max-width: 100%;
  width: 100%;
  border-radius: 5px;
  margin: 0 auto;
}

.previewImg {
  max-width: 100%;
  width: 55rem;
  padding: 0 2em;
}

.flexDisplay{
  display: flex;
  flex-direction: column;
}

section:nth-of-type(2)>p {
  font-size : 2rem;
  max-width : 1135px;
  text-decoration-line : none;
  font-style : normal;
  max-width: 80ch;
}
