:root {
  --text-color: #EBE9E7;
  --nav-color: #3952C9;
  --secondary-color: #B2B0AE;
  --accent-color: #233AB5;
}


img {
  width: 15rem;
  padding: 0.4em 0.4em;
}

img:hover {
  border-radius: 2%;
  box-shadow: 0 0.1875rem 0.625rem;
}

.navbar {
  background-color: var(--nav-color);
  color: var(--text-color);
  height: 4.375rem;
}

.navContainer {
  max-width: 82rem;
  margin: 0 auto;
  overflow: none;
  padding: 0 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  white-space: nowrap;
}

